@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --font-geist-sans: 'Geist', sans-serif;
  --font-geist-mono: 'Geist Mono', monospace;
}

body {
  background-color: rgb(9 9 11);
  color: rgb(244 244 245);
}
